# Aplicação
APP_PORT=3000
APP_URL=http://localhost:3000

# Banco de Dados MySQL Remoto
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=collections_db

# JWT
JWT_SECRET=seu_secret_muito_seguro_aqui
JWT_EXPIRES_IN=7d

# Upload de arquivos
UPLOAD_DEST=./uploads
