# Compiled output
/dist
/node_modules

# Filesystem uploads
/uploads/*
!/uploads/.gitkeep

# Environment variables
.env

# IDEs and editors
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
